  @using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoreMaster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompanyProjectWeb.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">StoreMaster</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
   
                @if (!SignInManager.IsSignedIn(User))
                {
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                                <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>

                            </li>

                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Log in</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">Sign up</a>
                            </li>

                                </ul>


                            </div>
 
                 }
                  else

                  {
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                                <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Categories/DisplayAllCategories">Categories</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Products/DisplayAllProducts">Products</a>
                            </li>

                            <p>Hello @UserManager.GetUserName(User)!</p>

                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Logout">Log out</a>

                            </li>

                            <li class="nav-item">
                                <a asp-page="/ShoppingCarts/DisplayShoppingCart" class="bi bi-cart">Shopping Cart</a>
                            </li>

                                </ul>
                            </div>


                   }

                    
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" asp-append-version="true"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tiny.cloud/1/esmonrycg2x5fe5m3rck0oibw6pp1fvxalfrenriyyx0dlp8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>